# Python
__pycache__/
*.py[cod]
*$py.class

# Environments
.env
.venv
env/
venv/
ENV/

# Pytest
.pytest_cache/

# Playwright
test-results/
playwright-report/

# Reports and Logs
report.html
automation.log
*.log

# IDEs
.vscode/
.idea/

# OS
.DS_Store
Thumbs.db
